.navigator {
  margin: 1em 0;
}

.navigator .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.navigator .buttons .txt-icon {
  font-family: 'Lucida Console', Monaco, monospace;
}

.navigator .progress {
  margin: 0.2em 0 0;
}
