<div class="application-layer__container">
  <section *ngIf="getModeName() != 'Odbiorca'" class="info">
    <header class="dscr-header" data-toggle="collapse" data-target="#dscr-app">
      Czym jest Warstwa Aplikacji?
      <i class="far fa-question-circle"></i>
    </header>
    <div class="layer-description collapse" id="dscr-app">
      <p>
        Warstwa aplikacji umożliwia aplikacjom korzystanie z usług innych warstw i określa protokoły używane przez aplikację do wymiany
        danych. Jest wiele protokołów warstwy aplikacji i ciągle tworzone są nowe. Najbardziej znanymi protokołami warstwy
        aplikacji są te, których używa się do wymiany informacji użytkownika:
      </p>
      <ul>
        <li>Hypertext Transfer Protocol (HTTP) jest używany do przesyłania plików stron internetowych światowej sieci Web.</li>
        <li>File Transfer Protocol (FTP) jest używany do interakcyjnego przesyłania plików.</li>
        <li>Simple Mail Transfer Protocol (SMTP) jest używany do przesyłania poczty i załączników.</li>
        <li>Telnet, protokół emulacji terminala jest używany do logowania się zdalnie do hostów.</li>
      </ul>
    </div>
  </section>
  <app-file-loader *ngIf="getModeName() != 'Odbiorca'" (dataUpdated)="fileChanged($event)"></app-file-loader>
  <div>
    <div *ngIf="getModeName() == 'Odbiorca'">
      {{dat}}
    </div>
  </div>
</div>
