<div class="transport-layer__container">
  <header *ngIf="getModeName() != 'Odbiorca'" class="dscr-header" data-toggle="collapse" data-target="#dscr-tra">
    Czym jest Warstwa Transportowa? <i class="far fa-question-circle"></i>
  </header>
  <div class="layer-description collapse" id="dscr-tra" [class.show]="isExpanded">
    <p>
      Warstwa transportowa (ang. host-to-host layer) gwarantuje pewność przesyłania danych oraz kieruje właściwe informacje do odpowiednich aplikacji. Opiera się to na wykorzystaniu portów określonych dla każdego połączenia. W jednym komputerze może istnieć wiele aplikacji wymieniających dane z tym samym komputerem w sieci i nie nastąpi wymieszanie się przesyłanych przez nie danych. To właśnie ta warstwa nawiązuje i zrywa połączenia między komputerami oraz zapewnia pewność transmisji.
    </p>
  </div>
  <div *ngIf="dat">
    Dane zuploadowane przez Ciebie wyglądają na razie następująco:
    <div class="data-container" style="margin-bottom: 10px">{{dat}}</div>
    W reprezentacji bitowej natomiast tak:
    <div class="data-container">{{getBatchedstring(dateByteArray)}}</div>
    <p>Bit parzystości dla takiej kombinacji to: <b>{{parityBit}}</b> (Gdyż ilość jedynek w kombinacji bitów jest parzysta)</p>
    <p>Ten Bit parzystości dodany jest teraz na koniec ciągu bitowego. Plik przechodząc przez warstwę transportową po stronie odbiorcy ponownie zostanie poddany procesowi szukania bitu parzystości a wynik będzie porównany z wartością którą w tym momencie dodamy do bitowej reprezentacji naszego pliku:</p>
    <div class="data-container">{{getBatchedstring(dateByteArrayWithParityBit)}}</div>
    {{crcValue}}
  </div>
</div>
