<header class="osi-stack" [class.reversed]="isReceiver()">
  {{getFlowDirectionName()}}
</header>

<div class="osi-stack-content">
  <section>
    <app-layer [direction]="direction" [layerKind]="applicationLayerKind"></app-layer>
    <app-layer [direction]="direction" [layerKind]="presentationLayerKind"></app-layer>
    <app-layer [direction]="direction" [layerKind]="sessionLayerKind"></app-layer>
    <app-layer [direction]="direction" [layerKind]="transportLayerKind"></app-layer>
    <app-layer [direction]="direction" [layerKind]="networkLayerKind"></app-layer>
    <app-layer [direction]="direction" [layerKind]="dataLinkLayerKind"></app-layer>
    <app-layer [direction]="direction" [layerKind]="PhysicalLayerKind"></app-layer>
  </section>
</div>
