<div class="physical-layer__container">
  <section class="config">
    <label>
      Wyświetlaj dane:
      <select [(ngModel)]="displayFormat" (change)="setDisplayBlocks()">
        <option *ngFor="let format of availableFormats" [ngValue]="format">
          {{format.name}}
        </option>
      </select>
    </label>
    <label>
      Bloki o rozmiarze:
      <select [(ngModel)]="transferBlockSize" (change)="processLayerData()">
        <option *ngFor="let size of availableBlockSizes" [ngValue]="size">
          {{size}}
        </option>
      </select>
    </label>
  </section>
  <section class="blocks">
    <header>
      <span *ngIf="isSender()">Dane przesyłane przez medium:</span>
      <span *ngIf="!isSender()">Dane odbierane przez medium:</span>
    </header>
    <ol class="layer-data-blocks">
      <li *ngFor="let dataBlock of displayBlocks">
        <ol class="physical">
          <li *ngFor="let physical of dataBlock">
            {{physical.symbols}}
          </li>
        </ol>
      </li>
    </ol>
  </section>
</div>
