section.app {
  /* bottom = footer height */
  margin: 0 0 5.2em;
}

footer {
  background-color: lightblue;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5.2em;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.txt-icon {
  font-family: 'Lucida Console', Monaco, monospace;
}
